h3{
    font-family: cursive; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:rgb(133, 124, 189);
    text-align: center; 
    text-decoration: underline
  }
  
  table{
    font-family: Calibri; 
    color:white; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;
    /* text-align:;  */
    background-color: rgb(139, 128, 211); 
    border-collapse: collapse; 
    /* border: 2px solid rgb(68, 68, 240) */
  }
  table.inner{
    border: 0px
  }